/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header-top --*/
.header-top{
	background:#1A1A1A;
}
.header-top-left{
	float:left;
}
.header-top-right{
	float:right;
	margin:1.3em 0 0;
}
.header-top-left p{
	font-size:14px;
	color:#999;
	margin:2em 0 0;
}
.header-top-right a{
	font-size:1.5em;
	color:#fff;
	text-decoration:none;
	font-weight: 300;
    letter-spacing: 1px;
	display:block;
}
/*--Login --*/
#loginContainer {
    position:relative;
}
#loginContainer a span{
  display:block;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position:absolute;
	top: 9%;
    right: 13%;
    display:none;
    z-index:99999;
}
#loginForm:after {
	content: '';
    position: absolute;
    right: 25px;
    top: -10px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #CAC9C9;
}
/* Login Form */
#loginForm {
   width: 300px;
	background: #fff;
	border: 1px solid #d6d6d6;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
    color:#87807c;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.9em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
	font-weight: 500;
    font-size: 13px;
}
#body label i {
    color: #F07818;
    font-size: 13px;
    font-weight: 500;
}
/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #DADADA;
	color: #222;
	background:#FFF;
    padding:6px;
	font-size: 0.9em;
    -webkit-apperance:none;
}
/* Sign In Button */
#loginForm #login {
    background: #42517B;
    color: #fff;
    font-size: 1em;
    padding: 5px 20px;
	font-weight:300;
    /* margin: 0; */
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    font-family: 'Oswald', sans-serif;
}
#loginForm #login:hover {
	background: #fff;
	color: #42517B;
}
/* Forgot your password */
#loginForm span {
    display: block;
    padding-bottom: 15px;
    text-align: center;
}
#loginForm span a{
    font-weight:100;
	color:#999;
	font-size:14px;
}
#loginForm span a:hover{
	text-decoration:none;
	color:#000;
}
input:focus {
    outline:none;
}
/*--//Login --*/
.header-top-left1{
	float:left;
	margin-left:20em;
}
.header-top-left1 h1{
	font-size:1.5em;
	color:#fff;
	margin:0;
	font-weight: 300;
    letter-spacing: 1px;
}
.header-top-left1 h1 span{
	background: #F07818;
    padding: 1em;
    top: 0;
    left: 1em;
}
/*-- //header-top --*/
/*-- header-nav --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    padding: 0;
}
.navbar-default {
    background: none;
    border: none;
	margin: 0;
}
.navbar-default .navbar-brand {
    color: #F07818;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 1px;
    padding:0.2em 0 0;
    line-height: 1em;
	height: 80px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #F07818;
}
.navbar-brand  span{
	display: block;
    font-size: 14px;
    line-height: 1.3em;
    padding-left:.2em;
    color: #999;
}
.navbar-nav {
    float: left;
    margin: 0 0 0 8em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #42517B;
}
.navbar-default .navbar-nav > li > a {
    color: #F07818;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1em;
    padding: 30px 25px;
}
.search{
	float:right;
	width: 20%;
}
.search input[type="email"]{
	background:none;
	border: 1px solid #E8E8E8;
    padding:10px 41px 10px 10px;
	font-size:14px;
	color:#999;
	width:100%;
}
.search span{
	font-size: 1.2em;
    color:#C8C8C8;
    top: 1.8em;
    left: 10em;
	cursor: pointer;
}
/*-- //header-nav --*/
/*-- banner --*/
.banner1{
	background:url(../images/welcome.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:700px;
}
.banner2{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
}
.banner-info h2{
	text-transform: capitalize;
    font-size: 2.5em;
    margin: 0;
    color: #FFFFFF;
    font-weight: 300;
}
.banner-info h2 span{
	color:#F07818;
}
.banner-info {
    margin: 15em 0 0;
}
.banner-info p{
	font-size:14px;
	color:#FAF4F4;
	margin:1em 0 0;
	line-height:1.8em;
	text-transform: capitalize;
}
.banner-pos{
	position:relative;
}
.banner-posit{
	width: 38%;
    padding:2em 2em 0.15em;
    background:rgba(240, 120, 24, 0.85);
	position:absolute;
	top:0%;
	right:10%;
}
.banner-posit h2{
	text-transform: capitalize;
    font-size: 2em;
    color:#FFFFFF;
    margin: 0;
    font-weight: 300;
    letter-spacing: 1px;
    padding:1.2em 0 0;
	text-align: center;
}
.banner-posit h2 span {
    color: #fff;
    font-size: 0.7em;
    top: -2.3em;
    left: 3.5em;
}
.reservation h5{
	font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin:1em 0 1em;
}
select {
    color: #9F9F9F!important;
    font-size: 13px;
    padding: 11px 33px 11px 45px;
    outline: none;
    border: none;
    background: url(../images/3.png) no-repeat 17px center #ffffff;
    -webkit-appearance: none;
	width: 100%;
}
select.sect{
	background: url(../images/2.png) no-repeat 17px center #ffffff;
}
select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.book_date input[type="text"]{
    width: 100% !important;
    color: #9F9F9F;
    font-size: 13px;
    padding:11px 23px 11px 45px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    position: relative;
}
.book_date input[type="date"],.reservation textarea{
    width: 100% !important;
    color: #9F9F9F;
    font-size: 13px;
    padding: 11px 0 11px 45px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    position: relative;
	line-height: 1;
}
.book_date {
    position: relative;
}
.book_date span.glyphicon-calendar,.book_date span.glyphicon-map-marker,.book span.glyphicon-envelope{
    color:#B8B9BC;
    position: absolute;
    z-index: 999;
    top:30%;
    left: 3%;
    font-size: 1em;
}
.book span.glyphicon-envelope  {
	top:62% !important;
	left: 7% !important;
}
.book input[type="submit"]{
	margin:0.8em 0 0.4em;
	width:100%;
	outline:none;
	border:none;
	background:#42517B;
	font-size:16px;
	padding:13px 0;
	text-align:center;
	color:#fff;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	letter-spacing:1px;
}
.book input[type="submit"]:hover{
	background:#000;
}
.book_date span.glyphicon-map-marker  {
    font-size: 1.2em;
    left: 1%;
}
.glyphicon-calendare,.glyphicon-map-marker {
    font-size: 13px;
    margin-right: 5px;
	color:#000;
}
.form-control:focus {
    border-color: #fece00;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(254,206,0,0.75),1px 1px 0 rgba(254,206,0,0.75);
    box-shadow: inset 1px 1px 0 rgba(254,206,0,0.75),1px 1px 0 rgba(254,206,0,0.75);
}
.date_btn{
    margin: 1em 0 0 0;
}
.date_btn form input[type="submit"] {
    text-transform: capitalize;
    background: #6fd508;
    color: #FFFFFF;
    padding: .5em 1em;
    border: none;
    font-size: 1em;
    outline: none;
}
.date_btn form input[type="submit"]:hover{
    background: #337AB7;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.reservation textarea{
	min-height:200px;
	resize:none;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.newsletter-top,.typo,.contact,.blog,.single,.history,.events,.about{
	padding:5em 0;
}
.banner-bottom-grid h3{
	text-transform:capitalize;
	font-size:1.5em;
	margin:0;
	color:#000;
	font-weight: 300;
    letter-spacing: 1px;
}
.banner-bottom-grid p{
	color:#999;
	font-size:14px;
	margin:1em 0 0;
	letter-spacing: 2px;
	line-height:1.8em;
}
.banner-bottom-grid p span{
	display:block;
}
.banner-bottom-grid {
    text-align: center;
}
.banner-bottom-grid-left{
	float:left;
	width:50%;
}
.banner-bottom-grid-left p{
	margin: 0.8em;
    text-align: center;
    color: #F07818;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1.3em;
	font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
/*-- //banner-bottom --*/
/*-- newsletter --*/
.newsletter-top-grid{
	padding:0;
}
.newsletter-top-grid1 .thumb {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.newsletter-top-grid1 .thumb .caption {
    float: left;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
	padding: 20px 30px;
    text-align: center;
    background-color: rgba(213, 112, 30, 0.51);
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.newsletter-top-grid1 .thumb:hover .caption {
    height: 100%;
    padding: 40px 30px;
    opacity: 1;
    visibility: visible;
}
figure.thumb img {
    width: 100%;
}
.caption h3{
	margin:0;
}
.caption h3 a{
	font-size:1em;
	color:#fff;
	text-decoration:none;
}
.caption span{
	font-size:14px;
	color:#fff;
	display:block;
}
.caption p{
	color:#fff;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.newsletter{
	text-align:center;
}
.newsletter h3{
	margin:0;
	color:#000;
	font-size:1.5em;
	letter-spacing:1px;
	margin:0 0 2em;
}
.newsletter span{	
	left:2em;
	color:#999;
	top: 0.2em;
}
.newsletter input[type="text"]{
	outline: none;
    padding:8px 10px 8px 38px;
    border: 1px dotted #D5D5D5;
    background: none;
    width: 60%;
    font-size: 14px;
    color: #999;
}
.newsletter input[type="submit"]{
	outline: none;
    border: none;
    background: #42517B;
    font-size: 16px;
    color: #fff;
    width: 20%;
    padding: 8px 0;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}
.newsletter input[type="submit"]:hover{
	background:#F07818;
}
/*-- //newsletter --*/
/*-- popular --*/
.popular{
	padding:5em 0 10em;
}
.popular h3,h3.title,.blog h2{
	color:#A6B9C0;
	font-size:2em;
	margin:0;
	text-align:center;
	font-weight:300;
	letter-spacing:1px;
}
.popular-grid img{
	padding:.5em;
	border:1px dotted #000;
}
.popular-grids:nth-child(2){
	margin:3em 0 8em;
}
.popular-grid1{
	border:1px dotted #000;
	padding:2em;
	text-align:center;
}
.popular-grid1 h4{
	text-transform:capitalize;
	font-size:2em;
	color:#000;
	margin:0;
}
.popular-grid1 p{
	color:#F07818;
	font-size:14px;
	margin:1em 0 0;
	line-height:1.8em;
	text-transform:capitalize;
	font-family: 'Oswald', sans-serif;
	letter-spacing:1px;
}
.popular-grid1{
	position:relative;
}
.popular-grid1-pos{
	position:absolute;
	bottom:-110%;
    left: 6%;
}
.popular-grid1-pos img{
	padding:0;
	border:none;
}
/*-- //popular --*/
/*-- footer --*/
.footer{
	padding:4em 0;
	background:#3B3B3B;
}
.footer-grid h3{
	font-size:1.5em;
	color:#E5E4E4;
	margin:0 0 2em;
	font-family: 'Oswald', sans-serif;
	letter-spacing:2px;
}
.footer-grid p{
	color:#8F8D8D;
	font-size:14px;
	line-height:1.8em;
	margin:0;
}
.exam{
	display: inline-block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin: 2em 0 0;
}
.exam:hover{
	color:#8F8D8D;
}
.footer-grd{
	float:left;
	width:25%;
	border:2px solid #fff;
}
.dealer-grid-left{
	float:left;
	width:30%;
}
.dealer-grid-right{
	float:right;
	width:65%;
}
.dealer-grid-right h4{
	font-size:1em;
	color:#fff;
	text-transform:capitalize;
	margin:0 0 .5em;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}
.dealer-grid-right h4 a{
	color:#fff;
	text-decoration:none;
}
.dealer-grid-right h4 a:hover{
	color:#F07818;
	text-decoration:none;
}
.dealer-grid-right p{
	color:#8F8D8D;
	font-size:14px;
	line-height:1.8em;
	margin:0;
}
.dealer-grids:nth-child(2) {
  margin: 0 0 1.5em;
}
.footer-copy{
	border-top:2px solid #484848;
	padding:2em 0;
	background:#3B3B3B;
	text-align:center;
}
.footer-left{
	text-align:center;
	margin: 0 0 1em;
}
.footer-left p{
	text-align: center;
    color: #8F8D8D;
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}
.footer-left p a{
	color:#fff;
	text-decoration:underline;
}
.footer-right ul li{
	display:inline-block;
}
.footer-right ul li a.facebook{
	background: url(../images/img-sp.png) no-repeat -65px -2px;
    display: block;
    height: 50px;
    width: 50px;
}
.footer-right ul li a.facebook:hover{
	background: url(../images/img-sp.png) no-repeat -3px -2px;
    display: block;
}
.footer-right ul li a.p{
	background: url(../images/img-sp.png) no-repeat -65px -56px;
    display: block;
    height: 50px;
    width: 50px;
}
.footer-right ul li a.p:hover{
	background: url(../images/img-sp.png) no-repeat -3px -56px;
    display: block;
}
.footer-right ul li a.in{
	background:url(../images/img-sp.png) no-repeat -67px -112px;
    display: block;
    height: 50px;
    width: 50px;
}
.footer-right ul li a.in:hover{
	background:url(../images/img-sp.png) no-repeat -3px -112px;
    display: block;
}
/*-- //footer --*/
/*--Typography--*/
.well,.list-group-item,li.list-group-item1,.typo p {
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#F07818;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding: 0 1em;
}
.in-gp-tb{
	padding: 0 1em;
}
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.banner {
		min-height: 405px;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- contact --*/
.contact-map iframe {
	min-height:380px;
	width: 100%;
	border: none;
}
.contact_top {
	padding:4em 0 0em 0;
}
.contact-top h3 {
	font-size: 3.5em;
	color: #652840;
	text-transform: capitalize;
}
.contact_left p{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin: 1em 0 2em;
}
.contact_left input[type="text"], .contact_left textarea {
	padding: 10px;
	width: 55%;
	font-size: 14px;
	margin: 10px 0px;
	border:1px solid #bbb;
	color: #999;
	background: none;
	-webkit-appearance: none;
	outline: none;
}
.contact_left textarea {
	min-height:200px;
	resize:none;
	width:80%;
}
.contact_left input[type="submit"] {
	margin-top:1em;
	color: #fff;
	font-size: 1em;
	padding: 0.7em 0em;
	-webkit-appearance:none;
	text-transform: capitalize;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight:400;
	border: none;
	outline: none;
	cursor: pointer;
	width:25%;
	background:#42517B;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    letter-spacing: 1px;
}
.contact_left input[type="submit"]:hover {
 	text-decoration: none;
	color: #fff;
	background:#F07818;
}
.company_ad p {
	font-size: 14px;
    color: #999;
    margin: 1em 0;
    line-height: 1.8em;
}
 .company_ad a {
    color: #999;
}
.contact_left h2,.company_ad h3  {
	color:#A6B9C0;
	font-size:1.5em;
	margin:0;
	font-weight:300;
	letter-spacing:1px;
}
/*-- //contact --*/
/*-- blog --*/
.blog-grid1{
	background:#f0f0f0;
}
.blog-grid1-info{
	padding:1em;
}
.blog-grid1:nth-child(1){
	margin-bottom:2em;
}
.soluta a{
	line-height: 1.2em;
    color: #42517B;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
}
.soluta a:hover{
	text-decoration:none;
	color: #000;
}
.soluta span{
	display:block;
	margin:1em 0;
	color:#F07818;
	font-size:12px;
}
.blog-grid1 p{
	color:#999;
	font-size: 14px;
	margin: 1em 0 0;
	font-style: normal;
	line-height:1.8em;
}
.red-mre a{
	text-align: center;
	margin: 1em 0 0 3em;
	border: none;
	color: #F07818;
	font-size: 15px;
	text-decoration: none;
	background: url(../images/4.png) no-repeat 9em 0.55em;
	display: block;
	height: 20px;
}
.red-mre a:hover {
  text-decoration: none;
  color: #000;
}
.padff{
	margin: 3em 0 0 2em !important;
}
.blog-grids {
    margin: 3em 0 0;
}
/*-- //blog --*/
/*-- single --*/
.sing-img-text h2{
	color:#42517B;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 1em 0 0;
}
p.est{
	color:#999;
	font-size: 14px;
	margin:1em 0 3em;
	font-style: normal;
	line-height: 1.8em;
}
p.est span{
	display:block;
	margin:1em 0;
}
.list ul{
	padding:1em 0;
	margin:0;
}
.list ul li{
	display:inline-block;
}
.list ul li a.a{
	background: url(../images/img-sp.png) no-repeat -89px -8px;
	display: block;
	height: 32px;
	width: 32px;
}
.list ul li a.b{
	background: url(../images/img-sp.png) no-repeat -89px -58px;
	display: block;
	height: 32px;
	width: 32px;
}
.list ul li a.c{
	background: url(../images/img-sp.png) no-repeat -89px -107px;
	display: block;
	height: 32px;
	width: 32px;
}
.list ul li a.a:hover{
	background:url(../images/img-sp.png) no-repeat -11px -8px;
	display:block;
}
.list ul li a.b:hover{
	background:url(../images/img-sp.png) no-repeat -11px -58px;
	display:block;
}
.list ul li a.c:hover{
	background:url(../images/img-sp.png) no-repeat -11px -107px;
	display:block;
}
.media-body h4{
	color: #42517B;
    font-size: 1.2em;
    margin: 1em 0;
}
.media-body a{
	font-size: 1em;
    color: #F07818;
    text-decoration: none;
    text-align: right;
    display: block;
}
.media-body a:hover{
	color:#000;
	text-decoration:none;
}
.media-body{
	color:#999;
	font-size: 14px;
	margin: 1em 0 0;
	font-style: normal;
	line-height: 1.8em;
}
.leave-a-comment{
	background:#fff;
	padding:0 1em;
}
.com h3,.leave-a-comment h3{
	color: #F07818;
    font-size: 1.5em;
    margin: 2em 0;
}
.search1 h3{
	color: #F07818;
    font-size: 1.5em;
    margin: 0 0 2em;
}
.map h3{
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	margin: 0 0 .5em;
	color: #9ec503;
}
.leave-a-comment input[type="text"],.leave-a-comment textarea{
	padding: 13px 10px;
    background: none;
    font-size: 14px;
    outline: none;
    border: 1px dotted #A9A9A9;
    color: #999;
	}
.leave-a-comment input[type="text"]{
	float:left;
	width:31.3%;
	}
.leave-a-comment textarea{
	resize:none;
	height:200px;
	width:100%;
	margin:1.5em 0;
	}
.leave-a-comment input[type="submit"]{
	background: #F07818;
    color: #fff;
    font-size: 1em;
	outline:none;
	border:none;
	width: 18%;
	display: block;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	padding: 10px 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    letter-spacing: 1px;
	}
.leave-a-comment input[type="submit"]:hover{
	background:#42517B;
	}
.leave-a-comment input[type="text"]:nth-child(2){
	margin: 0 2.4em;
	}
.contact-design p.dr-text {
	width: 76%;
}
.contact-rd-more {
	margin: 3em 0;
}
.contact-rd-more a{
	color: white;
	border-color: white;
}
.media-left {
  width: 10%;
}
.search1 input[type="text"] {
	border: 1px solid #E7E7E7;
    outline: none;
    width: 100%;
    background: none;
    color: #999;
    padding: 10px;
    font-size: 14px;
}
.search1 input[type="submit"] {
	background:#42517B;
    color: #fff;
    font-size: 16px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    border: none;
    outline: none;
    width: 40%;
    padding: 6px 0;
    margin: 1em 0 3em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    letter-spacing: 1px;
}
.search1 input[type="submit"]:hover{
	background:#F07818;
	color:#fff;
}
.categories ul {
  padding: 0;
  margin: 0;
}
.categories ul li {
	list-style-type: none;
    background: url(../images/4.png) no-repeat 0px 7px;
    display: block;
    padding-left: 2em;
    margin: 1em 0;
    color: #999;
    font-size: 14px;
}
.categories ul li a {
	color: #999;
    font-size: 14px;
	text-decoration:none;
	letter-spacing:1px;
}
.categories ul li a:hover{
	text-decoration:none;
	color: #000;
}
.categories-mid {
  margin: 5em 0 0;
}
.categories h3,.related-posts h3 {
	color:#F07818;
    font-size: 1.3em;
    text-transform: capitalize;
    margin: 0 0 1em;
}
.related-post-left{
	float:left;
	width:30%;
}
.related-post-right{
	float:right;
	width:65%;
}
.related-post{
	margin:2.5em 0;
}
.categories-mid ul li:nth-child(6) {
  margin-bottom: 5em;
}
.related-post-right h4{
	margin:0 0 1em;
}
.related-post-right h4 a{
	color: #42517B;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}
.related-post-right h4 a:hover{
	text-decoration:none;
	color:#000;
}
.related-post-right p {
	color: #999;
    font-size: 14px;
    margin: 1em 0 0;
    font-style: normal;
    line-height: 1.8em;
}
/*-- //single --*/
/*-- about --*/
.about-grid h2,.about-grid h4{
	text-transform: capitalize;
    font-size: 1em;
    letter-spacing: 1px;
    color: #42517B;
	line-height: 1.4em;
    margin: 0em 0 1em;
}
.about-grid p{
	color:#999;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.about-gd-left{
	float:left;
	text-align: center;
	width:25%;
}
.about-gd-right{
	float:right;
	width:75%;
}
.about-gd:nth-child(3),.about-gd:nth-child(5){
	margin:1em 0;
}
.about-gd:nth-child(2) {
    margin: 3em 0 0;
}
.about-grid img {
    margin: 3em 0 2em;
}
/*-- //about --*/
/*-- events --*/
.events-grids{
	margin:3em 0 0;
}
.mnth-date-left h4{
	border-right:1px solid #DEDEDE;
	font-size:2em;
	color:#F07818;
	margin:0;
	padding: .5em 0;
}
.mnth-date-left h4 span{
	display:block;
	font-size:.8em;
}
.mnth-date-right p{
	font-size:14px;
	color:#656565;
	margin:1em 0 0;
	line-height:1.8em;
}
p.quasi{
	margin:2em 0 3em;
	color:#999;
	font-size:14px;
	line-height:1.8em;
}
.mnth-date-left {
    padding: 0;
}
.events {
    background-color:#EEEEEE;
}
/*-- //events --*/
/*-- history --*/
.history-left-grid p{
	font-size:1em;
	color:#CBCBCB;
	margin:0;
	padding-left: 1em;
}
.glyphicon-calendar {
  left: -13px;
}
.history-left-grid h4,.history-right h4{
	color: #F07818;
    font-size: 1.2em;
    margin: 1em 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}
p.aut,.history-right p{
	color:#999;
	font-size:14px;
	margin:0;
	line-height:1.8em;
	padding: 0;
}
.history-left-grid:nth-child(3){
	margin:2em 0;
}
.history-right h4{
	margin:3em 0 1em !important;
}
.history-right ul{
	padding:2em 0 0;
}
.history-right ul li{
	list-style-type:none;
	margin: 0 0 15px;
    background: url(../images/4.png) no-repeat 0px 7px;
    display: block;
    padding-left: 2em;
}
.history-right ul li a{
	font-size: 1em;
    letter-spacing: 1px;
    color: #999;
    text-decoration: none;
    text-transform: capitalize;
}
.history-right ul li a:hover{
	text-decoration:none;
	color:#F07818;
}
.history-left-grid:nth-child(2) {
    margin: 3em 0 0;
}
.about h3,.events h3,.history h3{
	color:#A6B9C0;
	font-size:2em;
	margin:0;
	font-weight:300;
	letter-spacing:1px;
}
.more a{
	padding:10px 30px;
	background:#42517B;
	font-size:14px;
	color:#fff;
	letter-spacing:1px;
	text-decoration:none;
}
.more a:hover{
	background:#000;
}
/*-- //history --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
	#loginBox {
		top: 6.5%;
		right: 15%;
	}
}
@media (max-width:1600px){
	#loginBox {
		top:8%;
		right: 13%;
	}
}
@media (max-width:1440px){
	#loginBox {
		right: 10%;
	}
}
@media (max-width: 1366px){
	#loginBox {
		right: 8%;
		top: 10%;
	}
}
@media (max-width: 1280px){
	.banner-posit {
		width: 40%;
		top: 0%;
		right: 4%;
	}
	.banner-posit h2 {
		font-size: 1.7em;
		padding: 1em 0 0;
	}
	.book span.glyphicon-envelope {
		top: 67.3% !important;
		left: 9% !important;
	}
	.reservation textarea {
		min-height: 150px;
	}
	.book input[type="submit"] {
		font-size: 14px;
		padding: 10px 0;
	}
	.banner1 {
		min-height: 622px;
	}
	#loginBox {
		right: 5%;
		top: 12%;
	}
}
@media (max-width: 1024px){
	.red-mre a {
		background: url(../images/4.png) no-repeat 6.7em 0.55em;
	}
	.header-top-left1 {
		margin-left: 8em;
	}
	.header-top-left1 h1,.header-top-right a {
		font-size: 1.3em;
	}
	.header-top-left1 h1 span {
		padding: .85em;
	}
	.header-top-right {
		margin: 1em 0 0;
	}
	.header-top-left p {
		margin: 1.5em 0 0;
	}
	.navbar-default .navbar-brand {
		font-size: 2.2em;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 30px 22px;
	}
	.navbar-nav {
		margin: 0 0 0 5em;
	}
	.search span {
		left: 13em;
	}
	.banner-info h2 {
		font-size: 2.2em;
	}
	.banner-posit h2 {
		font-size: 1.2em;
	}
	.banner-posit h2 span {
		left: 3.9em;
	}
	.book_date input[type="text"],select {
		padding: 10px 10px 10px 30px;
	}
	.book_date span.glyphicon-calendar, .book_date span.glyphicon-map-marker, .book span.glyphicon-envelope {
		font-size: 13px;
	}
	.reservation h5 {
		font-size: 13px;
	}
	.banner-posit {
		padding: 1.5em 1em 0.15em;
	}
	select {
		background: url(../images/3.png) no-repeat 9px center #ffffff;
	}
	select.sect {
		background: url(../images/2.png) no-repeat 9px center #ffffff;
	}
	.book input[type="submit"] {
		font-size: 13px;
		padding: 8px 0;
	}
	.banner1 {
		min-height: 548px;
	}
	.book span.glyphicon-envelope {
		top: 64.3% !important;
		left: 6.5% !important;
	}
	.book_date input[type="date"], .reservation textarea {
		padding: 10px 0 10px 32px;
	}
	.banner-bottom, .newsletter-top, .typo, .contact, .blog, .single, .history, .events, .about {
		padding: 4em 0;
	}
	.banner-bottom-grid-left p {
		font-size: 1.5em;
	}
	.caption h3 a {
		font-size: 18px;
	}
	.newsletter h3 {
		font-size: 1.3em;
		margin: 0 0 1em;
	}
	.newsletter input[type="submit"] {
		font-size: 15px;
		padding: 7px 0;
	}
	.popular-grid1-pos {
		bottom: -79%;
		left: 13%;
		width: 75%;
	}
	.popular {
		padding: 4em 0 9em;
	}
	.navbar-default .navbar-brand {
		padding: 0.3em 0 0;
	}
	.banner2 {
		min-height: 300px;
	}
	.about-grid img {
		margin: 2em 0 1em;
	}
	.mnth-date-left h4 {
		font-size: 1.5em;
		line-height: 1.2em;
	}
	.more a {
		padding: 6px 30px;
	}
	.leave-a-comment input[type="text"]:nth-child(2) {
		margin: 0 2em;
	}
	.leave-a-comment input[type="text"] {
		width: 31.27%;
	}
	#loginBox {
		right: 3%;
		top: 8%;
	}
	.contact_top {
		padding: 3em 0 0;
	}
}
@media (max-width:768px){
	.header-top-left p {
		font-size: 13px;
	}
	.header-top-left1 {
		margin-left: 4em;
	}
	.navbar-nav {
		margin:0 0 0 2.5em;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 25px 13px;
	}
	.search span {
		left: 9.5em;
	}
	.navbar-brand span {
		font-size: 12px;
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		height: 70px;
	}
	.search {
		margin: -0.5em 0 0;
	}
	.banner-bottom, .newsletter-top, .typo, .contact, .blog, .single, .history, .events, .about {
		padding: 3em 0;
	}
	.contact-map iframe {
		min-height: 300px;
	}
	.contact_left p {
		margin: 1em 0;
	}
	.contact_left input[type="text"], .contact_left textarea {
		width: 70%;
	}
	.contact_left textarea {
		width: 90%;
	}
	.contact_left input[type="submit"] {
		font-size: 14px;
		padding: 0.5em 0em;
	}
	.company-right {
		margin: 2em 0 0;
	}
	.company_ad p {
		margin: 0.5em 0 0;
	}
	address {
		margin-bottom: 0;
	}
	.footer-grid {
		float: left;
		width: 33.33%;
	}
	.footer {
		padding: 3em 0;
	}
	.footer-grid h3 {
		font-size: 1.3em;
		margin: 0 0 1.5em;
	}
	.dealer-grid-right h4 {
		font-size: 14px;
		line-height: 1.4em;
	}
	.footer-copy {
		padding: 1em 0;
	}
	.popular h3, h3.title, .blog h2 {
		font-size: 1.7em;
	}
	.blog-grid {
		float: left;
		width: 25%;
	}
	.soluta a {
		font-size: 14px;
	}
	.red-mre a {
		margin: 1em 0 0 1em;
		font-size: 13px;
		background: url(../images/4.png) no-repeat 6em 0.55em;
	}
	.sing-img-text h2 {
		font-size: 1.2em;
	}
	.search1 h3 {
		font-size: 1.3em;
		margin: 0 0 1.5em;
	}
	.search1 input[type="text"] {
		width: 75%;
	}
	.search1 input[type="submit"] {
		font-size: 14px;
		width: 25%;
		padding: 9px 0;
	}
	.categories-mid {
		margin: 3em 0;
	}
	.categories-mid ul li:nth-child(6) {
		margin-bottom: 0;
	}
	.leave-a-comment input[type="text"]:nth-child(2) {
		margin: 0 1em;
	}
	.leave-a-comment input[type="text"] {
		width: 31.97%;
	}
	.leave-a-comment input[type="submit"] {
		font-size: 14px;
		width: 25%;
		padding: 8px 0;
	}
	.about h3, .events h3, .history h3 {
		font-size:1.5em;
	}
	.about-grid img {
		margin: 1em 0;
	}
	.about-grid:nth-child(2) {
		margin: 3em 0 0;
	}
	.mnth-date-left {
		width: 16%;
	}
	p.quasi {
		margin: 1em 0 2em;
	}
	.events-grid:nth-child(2) {
		margin: 3em 0;
	}
	.history-left-grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.history-right {
		margin: 3em 0 0;
	}
	.history-right h4 {
		margin: 1em 0 1em !important;
		font-size: 1em;
	}
	.banner-info h2 {
		font-size: 1.7em;
	}
	.banner-info p {
		margin: 0.3em 0 0;
	}
	.banner-posit {
		width: 48%;
		right: 1.5%;
	}
	.book_date input[type="text"], select {
		padding: 8px 10px 8px 30px;
		font-size: 11px;
	}
	.book_date input[type="date"], .reservation textarea {
		font-size: 12px;
	}
	.reservation textarea {
		min-height: 100px;
	}
	.book input[type="submit"] {
		font-size: 12px;
		padding: 6px 0;
	}
	.book span.glyphicon-envelope {
		top: 69.9% !important;
	}
	.banner1 {
		min-height: 471px;
	}
	.banner-info {
		margin: 11em 0 0;
	}
	.banner-bottom-grid {
		float: left;
		width: 33.33%;
	}
	.banner-bottom-grid h3,.banner-bottom-grid-left p {
		font-size: 1.2em;
	}
	.newsletter-top-grid {
		float: left;
		width: 33.33%;
	}
	.newsletter-top-grid:nth-child(4) {
		float: none;
		width: 100%;
		margin: 14em 0 0;
	}
	.popular {
		padding: 3em 0 8em;
	}
	.popular-grid {
		float: left;
		width: 33.33%;
	}
	.popular-grid1 h4 {
		font-size: 1.5em;
	}
	.popular-grid1 p {
		margin: 0.5em 0 0;
	}
	.popular-grid1 {
		padding: 1em 1em 2em;
	}
	.popular-grid1-pos {
		bottom: -65%;
	}
	.popular-grids:nth-child(2) {
		margin: 3em 0 6em;
	}
}
@media (max-width:767px){
	.navbar-toggle {
		margin: 1.2em 0 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #42517B;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #42517B;
	}
	.navbar-nav {
		margin: 0;
		float: none;
		text-align: center;
		background: #ECECEC;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 13px 0;
	}
	.search {
		margin: -0.5em auto 1em;
		float: none;
		width: 50%;
	}
	.search input[type="email"] {
		padding: 9px 41px 9px 10px;
		font-size: 13px;
	}
	.search span {
		left: 16.5em;
	}
}
@media (max-width:667px){
	.header-top-left1 {
		margin-left: 1.3em;
	}
}
@media (max-width:640px){
	.header-top-left1 h1, .header-top-right a {
		font-size: 1.1em;
	}
	.header-top-left1 h1 span {
		padding: .8em;
	}
	.header-top-right {
		margin: 0.6em 0 0;
	}
	#loginBox {
		right: 2%;
		top: 7%;
	}
	.header-top-left p {
		margin: 1.2em 0 0;
		font-size: 12px;
	}
	.header-top-left1 {
		margin-left: 2.3em;
	}
	.search span {
		left: 13.5em;
	}
	.banner-posit h2 {
		padding: 0;
	}
	.banner-posit h2 span {
		top: -1.8em;
	}
	.banner-info h2 {
		font-size: 1.3em;
	}
	.banner-info p {
		font-size: 13px;
	}
	.banner1 {
		min-height: 451px;
	}
	.book span.glyphicon-envelope {
		top: 68.9% !important;
		left: 8.5% !important;
	}
	.banner-bottom-grid p {
		letter-spacing: 1px;
	}
	.banner-bottom-grid-left p {
		margin: 0.4em;
	}
	.newsletter-top-grid:nth-child(4) {
		margin: 11em 0 0;
	}
	.popular-grid1-pos {
		left: 8%;
		width: 85%;
		bottom: -47%;
	}
	.history-right ul li a {
		font-size: 14px;
	}
	.blog-grid {
		width: 50%;
	}
	.red-mre a {
		background: url(../images/4.png) no-repeat 11em 0.55em;
	}
	.blog-grid:nth-child(2) {
		margin: 0 0 2em;
	}
	.search1 input[type="text"] {
		width: 90%;
	}
	.leave-a-comment input[type="text"] {
		width: 31.67%;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea{
		padding: 10px;
	}
	.banner2 {
		min-height: 200px;
	}
	.contact-map iframe {
		min-height: 200px;
	}
	.contact_left textarea {
		min-height: 150px;
		width: 100% !important;
	}
	.contact_left input[type="text"], .contact_left textarea {
		width: 80%;
	}
}
@media (max-width: 600px){
	.header-top-left1 {
		margin-left: 1.3em;
	}
}
@media (max-width:568px){
	.header-top-left1 h1, .header-top-right a {
		font-size: 1em;
	}
	.header-top-left1 {
		margin-left: 0.3em;
	}
}
@media (max-width:480px){
	.header-top-left {
		float: none;
		text-align: center;
		margin: 0 0 1em;
	}
	.header-top-left1 {
		margin-left: 0;
	}
	#loginBox {
		top: 13%;
	}
	.navbar-default .navbar-brand {
		font-size: 1.6em;
		padding: 0.5em 0 0;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 9px 0;
	}
	.search {
		width: 67%;
	}
	.book_date span.glyphicon-calendar, .book_date span.glyphicon-map-marker, .book span.glyphicon-envelope {
		font-size: 10px;
	}
	.banner-posit {
		padding: 1.5em 0.6em 0.15em;
	}
	.book_date input[type="text"], select {
		padding: 6px 10px 5px 23px;
		font-size: 10px;
	}
	select {
		background: url(../images/3.png) no-repeat 5px center #ffffff;
		background-size: 6%;
	}
	select.sect {
		background: url(../images/2.png) no-repeat 6px center #ffffff;
		background-size: 5%;
	}
	.reservation h5 {
		font-size: 12px;
		letter-spacing: 1px;
		margin: 0.5em 0;
	}
	.book input[type="submit"] {
		font-size: 11px;
		padding: 5px 0;
		margin: 0.3em 0 0.4em;
	}
	.banner-info h2 {
		font-size: 1.05em;
	}
	.banner-info p {
		font-size: 10px;
	}
	.banner1 {
		min-height: 363px;
	}
	.banner {
		min-height: 0;
	}
	.banner-bottom-grid {
		float: none;
		width: 100%;
	}
	.banner-bottom, .newsletter-top, .typo, .contact, .blog, .single, .history, .events, .about {
		padding: 2em 0;
	}
	.header-top-left1 h1 span {
		padding: .53em;
	}
	.banner-bottom-grid:nth-child(2) {
		margin: 2em 0;
	}
	.banner-bottom-grid-left p {
		margin: 2.4em 1.4em 0;
	}
	.caption h3 a {
		font-size: 14px;
	}
	.caption p {
		font-size: 12px;
		line-height: 1.5em;
	}
	.newsletter-top-grid1 .thumb .caption {
		height: 48px;
		padding: 2px 14px;
	}
	.newsletter-top-grid1 .thumb:hover .caption {
		height: 100%;
		padding: 0px 5px;
	}
	.book span.glyphicon-envelope {
		top: 64.2% !important;
		left: 7.5% !important;
	}
	.newsletter-top-grid:nth-child(4) {
		margin: 9em 0 0;
	}
	.popular h3, h3.title, .blog h2 {
		font-size: 1.5em;
	}
	.popular {
		padding: 2em 0 11em;
	}
	.popular-grids:nth-child(2) {
		margin:2em 0 2em;
	}
	.popular-grid {
		float: none;
		width: 70%;
		margin: 0 auto;
	}
	.popular-grid:nth-child(2) {
		margin:2em auto 10em;
	}
	.popular-grid1-pos {
		bottom: -102%;
	}
	.fdf {
		margin: 10em auto 3em !important;
	}
	.footer-grid h3 {
		font-size: 1.2em;
	}
	.footer {
		padding: 2em 0;
	}
	.footer-grid {
		float: none;
		width: 100%;
	}
	.exam {
		margin: 1em 0 0;
	}
	.footer-grid:nth-child(2) {
		margin: 2em 0;
	}
	.about h3, .events h3, .history h3 {
		font-size: 1.3em;
	}
	.about-grid h2,.about-grid h4{
		font-size: 14px;
	}
	.about-grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.about-gd:nth-child(2) {
		margin: 2em 0 0;
	}
	.about-gd-left {
		text-align: left;
	}
	.more a {
		padding: 3px 22px;
		font-size: 13px;
	}
	.history-left-grid h4, .history-right h4 {
		font-size: 1em;
	}
	.red-mre a {
		background: url(../images/4.png) no-repeat 8em 0.55em;
	}
	.media-body h4 {
		margin: 0em 0 1em;
	}
	.search1 input[type="text"] {
		width: 100%;
	}
	.leave-a-comment input[type="text"] {
		width: 100%;
	}
	.leave-a-comment input[type="text"]:nth-child(2) {
		margin: 1em 0;
	}
	.leave-a-comment input[type="submit"] {
		width: 35%;
	}
	.contact_left input[type="submit"] {
		width: 35%;
	}
}
@media (max-width:414px){
	.banner-posit {
		top: 74%;
		width: 97%;
		left: 1.5%;
	}
	.banner-info {
		margin: 3em 0 0;
	}
	.banner1 {
		min-height: 180px;
	}
	.banner-bottom {
		padding: 21em 0 2em;
	}
	select {
		background: url(../images/3.png) no-repeat 5px center #ffffff;
		background-size: 3.5%;
	}
	select.sect {
		background: url(../images/2.png) no-repeat 6px center #ffffff;
		background-size: 3.5%;
	}
	.book_date span.glyphicon-calendar, .book_date span.glyphicon-map-marker, .book span.glyphicon-envelope {
		left: 2%;
	}
	.book span.glyphicon-envelope {
		left: 4.5% !important;
	}
	.banner-info h2 {
		font-size: 1.5em;
	}
	.search {
		width: 80%;
	}
	.newsletter input[type="text"] {
		width: 68%;
	}
	.popular-grid1-pos {
		bottom: -84%;
	}
	.mnth-date-left {
		width: 30%;
	}
	.blog-grid {
		width: 80%;
		float: none;
		margin:0 auto 2em;
	}
	.blog-grid:nth-child(2) {
		margin: 0 auto 2em;
	}
	.red-mre a {
		background: url(../images/4.png) no-repeat 11em 0.55em;
	}
	.contact_left input[type="text"], .contact_left textarea {
		width: 100%;
	}
}
@media (max-width:320px){
	#loginBox {
		right: 0%;
		top: 19%;
	}
	.header-top-right {
		margin: 0.3em 0 0;
	}
	.header-top-left p {
		margin: 0.5em 0 0;
	}
	.header-top-left {
		margin: 0 0 0.5em;
	}
	.header-top-left1 h1 span {
		padding: .5em;
	}
	.banner-info h2 {
		font-size: 1.2em;
	}
	.banner1 {
		min-height: 145px;
	}
	.banner-info {
		margin: 2em 0 0;
	}
	.book_date input[type="date"], .reservation textarea {
		padding: 10px 0 10px 25px;
	}
	.banner-bottom {
		padding: 22em 0 2em;
	}
	.banner-bottom-grid p {
		font-size: 13px;
		margin: 0.5em 0 0;
	}
	.banner-bottom-grid h3, .banner-bottom-grid-left p {
		font-size: 1em;
	}
	.banner-bottom-grid-left p {
		margin: 1.4em 0.4em 0;
	}
	.newsletter-top-grid {
		float: none;
		width: 80%;
		margin: 0 auto;
	}
	.newsletter-top-grid:nth-child(4) {
		margin: 2em 0 0;
	}
	.newsletter h3 {
		font-size: 1.1em;
		margin: 0;
	}
	.newsletter span {
		left: -7.7em;
		top: 2em;
	}
	.newsletter input[type="text"] {
		width: 95%;
	}
	.newsletter input[type="text"],.categories ul li a,.search1 input[type="text"],.media-body,.popular-grid1 p,p.aut,.history-right ul li a, .history-right p,.mnth-date-right p,.footer-grid p,.dealer-grid-right p,.footer-left p,.about-grid h2,.about-grid h4,.about-grid p {
		font-size: 13px !important;
	}
	.com h3, .leave-a-comment h3 {
		font-size: 1.1em;
		margin: 1em 0;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea,.company_ad p {
		font-size: 13px;
	}
	.leave-a-comment input[type="submit"] {
		width: 50%;
		padding: 5px 0;
		font-size: 13px;
	}
	.banner2 {
		min-height: 130px;
	}
	.contact-map iframe {
		min-height: 130px;
	}
	.contact_top {
		padding: 1em 0 0;
	}
	.leave-a-comment textarea {
		height: 140px;
	}
	.categories ul li {
		margin: 0.7em 0 0;
	}
	.related-post-right p {
		font-size: 13px;
		margin: 0.5em 0 0;
	}
	.leave-a-comment {
		padding: 0;
	}
	.categories-mid {
		margin: 2em 0;
	}
	.related-post-right h4 {
		margin: 0;
	}
	.related-post {
		margin: 0 0 1em;
	}
	.search1 input[type="submit"] {
		font-size: 13px;
		width: 35%;
		padding: 7px 0;
	}
	.categories h3, .related-posts h3 {
		font-size: 1.1em;
	}
	.media-body h4 {
		font-size: 1em;
	}
	.search1 h3 {
		font-size: 1.1em;
		margin: 2em 0 1em;
	}
	.history-right ul {
		padding: 1em 0 0;
	}
	.blog-grids {
		margin: 2em 0 0;
	}
	.blog-grid {
		width: 100%;
	}
	.blog-grid1 p {
		font-size: 13px;
		margin: 0;
	}
	.soluta span {
		margin: 0.5em 0;
	}
	.padff {
		margin: 1em 0 0 1em !important;
	}
	.history-right {
		margin: 2em 0 0;
	}
	p.quasi {
		margin: 0.5em 0 1.5em;
		font-size: 13px;
	}
	.events-grid:nth-child(2) {
		margin: 2em 0;
	}
	.about-grid h2,.about-grid h4{
		margin: 0em 0 0.8em;
	}
	.about-grid img {
		margin: .5em 0 1em;
	}
	.about-gd:nth-child(2) {
		margin: 1.5em 0 0;
	}
	.newsletter input[type="submit"] {
		font-size: 14px;
		padding: 7px 0;
		margin: 1em 0 0 0.5em;
		display: block;
		width: 35%;
	}
	.popular {
		padding:1em 0 10em;
	}
	.popular h3, h3.title, .blog h2 {
		font-size: 1.2em;
	}
	.popular-grid {
		width: 100%;
	}
	.popular-grid1-pos {
		bottom: -92%;
	}
	.footer-grid h3 {
		font-size: 1em;
		margin: 0 0 0.5em;
	}
	.footer-grid{
		padding:0;
	}
	.search span {
		left: 12.5em;
	}
	.search {
		width: 100%;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 5px 0;
	}
	.events-grids {
		margin: 1.5em 0 0;
	}
	.mnth-date-right {
		width: 70%;
	}
	.about h3, .events h3, .history h3 {
		font-size: 1.1em;
	}
	.history-left-grid h4, .history-right h4 {
		margin: 1em 0 .5em;
	}
	.history-left-grid:nth-child(2) {
		margin: 1.5em 0 0;
	}
	.about-grid,.events-grid,.history-left,.history-right,.sing-img-text,.sing-img-text-left,.contact_left,.company-right {
		padding: 0;
	}
	.contact_left h2, .company_ad h3 {
		font-size: 1.1em;
	}
	.contact_left input[type="submit"] {
		width: 50%;
	}
	.contact_left input[type="text"], .contact_left textarea {
		font-size: 13px;
		margin: 6px 0px;
	}
	.contact_left p {
		margin: 0.5em 0;
		font-size: 13px;
	}
	.mnth-date-left h4 {
		font-size: 1.2em;
	}
	.history-left-grid p {
		font-size: 14px;
	}
	.sing-img-text h2 {
		font-size: 1em;
		line-height: 1.5em;
	}
	p.est {
		font-size: 13px;
		margin: 0.5em 0 2em;
	}
}